.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    font-family: $font-display;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;

    &:hover,
    &:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
    }
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-top: 6rem;
  text-align: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
