.gallery {
  background-color: $color-grey-light-1;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover; // This will Only work if we have height and width
    display: block;
  }
  &__item {
    &--1 {
      grid-column: 1/3;
      grid-row: 1/3;
    }
  }
}
